<!DOCTYPE html>
<html>
	<head>
		<title>Bible Trivia</title>
		<link rel="stylesheet" type="text/css" href="/index.css">
		<link rel="stylesheet" type="text/vss" hred="/normalize.min.css">
		<script type="text/javascript" src="/vue.js"></script>
	</head>
	<body>
		<div id="vue-app">
			<transition name="slide-top-right">
				<message-box
					v-if="message.value"
					v-on:clear-message="clearMessage"
					v-bind:value.sync="message.value"
					v-bind:level.sync="message.level"
				></message-box>
			</transition>
			<transition tag="span" name="slide-top-left">
			<input
				type="image"
				src="/image/new_game.svg"
				alt="Restart Game"
				title="Restart Game"
				id="new-game-button"
				v-if="!newGameMenu"
				v-on:click="clearGame" />
			</transition>
			<!-- message-box and new-game-button are absolutely positioned -->

			<br>
			<h1>Bible Trivia</h1>

			<transition name="slide-bottom" appear mode="out-in">
				<start-menu v-if="newGameMenu" v-on:submitted="startGame" key="start-menu"></start-menu>
				<div v-if="!newGameMenu" id="game" key="game">
					<transition-group name="fade">
						<div id="chapter-selector" v-if="chapterSelector.active" class="model" key="0">
							<div class="model-content">
								<h2>{{ chapterSelector.book.name }}</h2>
								<label>
									Chapter
									<select v-model="chapterSelector.chosen" v-bind:disabled="chapterSelector.disabled">
										<option v-for="c in chapterSelector.count" v-if="!chapterSelector.book.wrongChapters.includes(c)" v-bind:value="c">{{ c }}</option>
									</select>
								</label>
								<br>
								<br>
								<button v-on:click="closeChapterSelector" vi-bind:disabled="chapterSelector.disabled">Close</button>
							</div>
						</div>
						<div v-if="referenceMenu" id="reference-menu" class="model" key="1">
							<div class="model-content">
								<verse
									v-bind:text="game.previousRound.verse_text"
									v-bind:bcv="game.previousRound.verse_bcv"
									v-bind:book-map="bookMap"
								></verse>
								<button v-on:click="closeReference">Close</button>
							</div>
						</div>
					</transition-group>
					<span id="point-counter">Points: {{ game.rounds.length - 1 }}</span>
					<life-counter v-bind:lives="game.lives"></life-counter>
					<verse
						v-bind:text="game.currentRound.verse_text"
						v-bind:bcv="game.currentRound.verse_bcv"
						v-bind:book-map="bookMap"
					></verse>
					<input v-model="bookList.filter" placeholder="Book">
					<transition-group
						name="book-list"
						id="book-list"
						tag="div"
						v-bind:class="((!game.playing || !bookList.clickable) ? 'not-' : '') + 'clickable'"
					>
						<span
							v-on:click="chooseBook(book.position)"
							v-bind:class="'book' + (book.class ? ' ' + book.class : '')"
							v-for="book in bookListFiltered"
							v-bind:key="book.position"
						>{{ book.name }}</span>
					</transition-group>
				</div>
			</transition>
		</div>

		<script id="message-box-template" type="text/x-template">
			<div id="message-box" v-on:click="clearMessage" v-bind:class="'message-level-' + level">{{ text }}</div>
		</script>

		<script id="start-menu-template" type="text/x-template">
			<div id="start-menu">
				<p>Testaments</p>
				<label>Old<input type="checkbox" v-model="oldTestament" v-bind:disabled="disabled"></label>
				<br>
				<label>New<input type="checkbox" v-model="newTestament" v-bind:disabled="disabled"></label>
				<br>
				Difficulty
				<label id="difficulty-switch">
					<input type="checkbox" v-model="difficultyEasy" v-bind:disabled="disabled">
					<div id="difficulty-slider">
						<span class="on">Easy</span>
						<span class="off">Hard</span>
					</div>
				</label>
				<br>
				<button v-on:click="startGame" v-bind:disabled="invalid || disabled">Start Game</button>
			</div>
		</script>

		<script id="life-counter-template" type="text/x-template">
			<div id="life-counter">
				<span v-bind:style="{ width }" id="life-counter-rating"></span>
			</div>
		</script>

		<script id="verse-template" type="text/x-template">
			<div class="verse">
				<h2 v-if="loc" class="verse-location">{{ loc.book.name }} {{ loc.chapter }}:{{ loc.verse }}</h2>
				<div class="verse-text">{{ text }}</div>
			</div>
		</script>

		<script type="text/javascript" src="/index.js"></script>
	</body>
</html>